.div1{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    list-style: none;
    border: none;
    gap:90px;
    margin-top: 150px;
    

}
.div2{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 150px;
}
.img1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}



.body{
    background-image: url(../images/backcora.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: 3px 7px;
    border: 2px solid red;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border-radius: 8px;
    list-style: none;
    border: none;
    

    
}

/* Regra de mídia para telefones com largura máxima de 480px */
/*@media only screen and (max-width: 480px) {
    .div1 {
        margin-top: 50px; /* Reduzir ainda mais a margem superior */
    /*}

    .div2 {
        margin-top: 50px; /* Reduzir ainda mais a margem superior */
    /*}

    .img1 {
        height: auto;
        max-width: 100%; /* Definir a largura máxima como 100% para que a imagem se ajuste à largura da tela */
   /* }

    .botao {
        font-size: 20px; /* Reduzir ainda mais o tamanho da fonte */
    /*    padding: 3px 8px; /* Reduzir o espaçamento interno */
    /*}
}
/*desktop*/
/*@media only screen and (min-width: 992px) {
    .div1 {
      margin-top: 500px;
    }
    .div2 {
        margin-top: 500px;
      }
  
    .img1 {
      height: 800px;
    }
  
    .botao {
      font-size: 80px;
      padding: 10px 20px;
    }
  }
